body {
    background-color: #EDEFF0;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#menu, #news article {
    background-color: white;
}
body > header h1 {
    margin: 0;
}
body > header h2 {
    margin-top: 0;
}
#signup {
    text-align: right;
}
#menu ul {
    display: flex;
    flex-shrink: 0;
    justify-content: space-evenly;
}